@use "../abstracts" as *;
.companies {
  background-color: $white;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h3 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
 & div a{
     margin: 0 2.3rem;
 }
}
