@use "../abstracts" as *;
.companies {
  background-color: $white;
  padding: 3rem 0;
  width: 100vw;
  @include flex(column, center, center);
  @include mq($md) {
    padding: 1rem 1rem 0 1.5rem;

  }
  & h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    @include mq($md) {
      padding: 0 ;
    
    }
  }
  & div {
    @include mq($md) {
      @include flex(row, center, center);
      flex-wrap: wrap;
    }
  }
  & div a {
    margin: 0 2.3rem;
    // @include mq($md) {
    //   @include flex(column, center, center);
    //   flex-wrap: wrap;
    // }
  }
}
