@use "../abstracts" as *;
.contact {
  background-color: $white;
  padding: 3rem 6rem;
  @include flex(row, center, center);
  @include mq($sm) {
    flex-direction: column-reverse;
    padding: 0 0.5rem 1rem 0;
  }
  &__columnOne {
    width: 80vw;
    @include mq($sm) {
      width: 100vw;
      padding-left: 1rem;
    }

    & h1 {
      margin-bottom: 10rem;
      font-size: 2.5rem;
      @include mq($sm) {
        width: 100vw;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
    }
    & h2 {
      margin-bottom: 0.8rem;
      font-size: 1.5rem;
    }

    @include flex(column, center, baseline);
    & form input {
      border: none;
      border-bottom: 1px solid $black;
      padding: 0.5rem 0rem;
      width: 18rem;
      background-color: transparent;
    }
  }

  &__columnTwo {
    @include flex(row, center, center);
    @include mq($sm) {
      // width: max-content;
      padding-bottom: 1rem;
    }
    & div {
      width: 100%;
      & img {
        @include wh(22vw, 22vw);

        @include mq($sm) {
          @include wh(50vw, 50vw);
        }
      }
    }
    & h2 {
      color: $green;
      width: 90%;
      position: relative;
      left: -5rem;
      font-size: 2.5rem;
      @include mq($sm) {
        left: -3rem;
        font-size: 1.6rem;
        width: 60%;
      }
    }
  }
}
