@use "../abstracts" as *;
.contact {
  background-color: $white;
  @include flex(row , center , center);
  padding: 3rem 6rem;
  &__columnOne {
      width: 80vw;
    & h1 {
      margin-bottom: 10rem;
      font-size: 2.5rem;
    }
    & h2 {
      margin-bottom: 0.8rem;
      font-size: 1.5rem;
    }

    @include flex(column, center,baseline);
    & form input {
      border: none;
      border-bottom: 1px solid $black;
      padding: 0.5rem 0rem;
      width: 18rem;
      background-color: transparent;
    }
  }
  &__columnTwo {
    @include flex(row , center , center);
    & div {
      width: 100%;
      & img {
        @include wh(22vw,22vw);
      }
    }
    & h2 {
      color: $green;
      width: 90%;
      position: relative;
      left: -5rem;
      font-size: 2.5rem;
    }
  }
}
