@use "../abstracts" as *;
.footer {
  background-color: $green;
  padding: 3rem;
  @include flex(row, space-between, baseline);
  @include mq($sm) {
    flex-direction: column;
    padding: 1rem;
  }
  &__columnOne {
    @include flex(row, space-between, baseline);
    width: 50%;
    @include mq($sm) {
      width: 100%;
    }
    & li {
      margin-bottom: 0.5rem;
    }
    &-category {
      font-weight: 900;
      color: $white;
      margin-bottom: 0.8rem;
      @include mq($sm) {
        font-size: 0.6rem;
      }
    }

    & li a {
      color: $white;
      font-size: 0.9rem;
      @include mq($sm) {
        font-size: 0.2rem;
      }
    }
  }
  &__columnTwo {
    align-self: center;
    padding: 0 6rem;
    color: $white;
    @include mq($sm) {
      flex-direction: column;
      padding: 1rem;
    }
  }
}
