@use "../abstracts" as *;
.footer {
  background-color: $green;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  &__columnOne {
    display: flex;
    justify-content: space-between;
    width: 50%;
    & li {
      margin-bottom: 0.5rem;
    }
    &-category {
      font-weight: 900;
      color: $white;
      margin-bottom: 0.8rem;
    }

    & li a {
      // margin-bottom: 1rem;
      color: $white;
      font-size: 0.9rem;
    }
  }
  &__columnTwo{
      align-self: center;
        padding: 0 6rem;
      color: $white;

  }
}
