@use '../abstracts' as *;
.navbar{
    padding: 2rem 5rem 0 5rem;
    background-color: $header_color;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    & ul{
        display: flex;
        justify-content: space-between;
        & li{
            margin: 0 1rem;
        }
    }
     & button{
         padding: 0.5rem 2rem;
         border: 0.3px black solid;
     }
}