*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #1d1d07;
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

p,
div {
  font-family: "Kalam", cursive;
  font-weight: 400;
}

li {
  list-style: none;
  font-family: "Libre Baskerville", serif;
}

a {
  text-decoration: none;
  color: #1d1d07;
}

button {
  font-family: "Kalam", cursive;
  cursor: pointer;
  border: black;
}

img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.navbar {
  padding: 2rem 5rem 0 5rem;
  background-color: #e4e1d2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li {
  margin: 0 1rem;
}
.navbar button {
  padding: 0.5rem 2rem;
  border: 0.3px black solid;
}

.header {
  padding: 2rem 0rem 2rem 4.5rem;
  background-color: #e4e1d2;
  display: flex;
}

.header__columnOne {
  width: 55vw;
  margin-right: 2rem;
}
.header__columnOne h1 {
  width: 70%;
  font-size: 4vw;
  margin-bottom: 2rem;
}
.header__columnOne h4 {
  width: 70%;
  margin-bottom: 0.7rem;
  font-size: 1.3vw;
}
.header__columnOne p {
  width: 70%;
  font-size: 1.2vw;
  margin-bottom: 2rem;
}
.header__columnOne div {
  display: flex;
  align-items: center;
}
.header__columnOne div button {
  padding: 0.5rem 2rem;
  margin-right: 3rem;
  background-color: #f27d3c;
}

.header__columnTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__columnTwo div {
  width: 100%;
}
.header__columnTwo div img {
  width: 20vw;
  border-radius: 35px;
}
.header__columnTwo h2 {
  font-size: 2.5rem;
  width: 90%;
  position: relative;
  bottom: -5rem;
  left: -7rem;
  color: #26534d;
}

.companies {
  background-color: #f9f8f6;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.companies h3 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.companies div a {
  margin: 0 2.3rem;
}

.CardContainer {
  background-color: #f9f8f6;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.CardContainer__card {
  padding: 2rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 20rem;
}
.CardContainer .active {
  background-color: #26534d;
  width: 50rem;
}
.CardContainer .active h2 {
  color: #f9f8f6;
  margin: 0 0 2vw 0;
}
.CardContainer .active p {
  color: #f9f8f6;
  margin: 0 0 2vw 0;
}
.CardContainer .active a {
  color: #f9f8f6;
}
.CardContainer .active__columnTwo {
  width: 100%;
  padding: 0;
}
.CardContainer .active__columnTwo img {
  clip-path: ellipse(40% 40% at 50% 50%);
}

.comments {
  background-color: #f9f8f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  padding: 3rem 9rem 3rem 0;
}
.comments__columnOne {
  background-color: #f1f1ef;
  width: 30%;
  margin-right: 20rem;
  margin-left: 0;
}
.comments__columnOne div {
  padding: 2rem 6rem;
  width: 170%;
  height: 15rem;
  margin-right: 2rem;
}
.comments__columnOne div h1 {
  font-size: 3.5vw;
}
.comments__columnTwo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.comments__columnTwo h2 {
  font-size: 1.5vw;
}
.comments__columnTwo h3 {
  font-size: 1.2vw;
}

.contact {
  background-color: #f9f8f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 6rem;
}
.contact__columnOne {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.contact__columnOne h1 {
  margin-bottom: 10rem;
  font-size: 2.5rem;
}
.contact__columnOne h2 {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}
.contact__columnOne form input {
  border: none;
  border-bottom: 1px solid #1d1d07;
  padding: 0.5rem 0rem;
  width: 18rem;
  background-color: transparent;
}
.contact__columnTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact__columnTwo div {
  width: 100%;
}
.contact__columnTwo div img {
  width: 22vw;
  height: 22vw;
}
.contact__columnTwo h2 {
  color: #26534d;
  width: 90%;
  position: relative;
  left: -5rem;
  font-size: 2.5rem;
}

.footer {
  background-color: #26534d;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.footer__columnOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 50%;
}
.footer__columnOne li {
  margin-bottom: 0.5rem;
}
.footer__columnOne-category {
  font-weight: 900;
  color: #f9f8f6;
  margin-bottom: 0.8rem;
}
.footer__columnOne li a {
  color: #f9f8f6;
  font-size: 0.9rem;
}
.footer__columnTwo {
  align-self: center;
  padding: 0 6rem;
  color: #f9f8f6;
}

/*# sourceMappingURL=main.css.map */
